<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/stylesAbout.css">
</head>

<body>
    <header>
      <div class="container_about">
        <div class="logo_container_about">
          <h1>Disease<span>Teller</span></h1>
        </div>
        <ul class="navigation_about">
          <li><a href="/">Home</a></li>
          <li><a href="/disease/allResoruces">Disease</a></li>
          <li><a href="/contacts">Contacts</a></li>
          <li><a href="/aboutpage">About Us</a></li>
        </ul>
      </div>
    </header>

    <div class="about-section">
        <h1>About Us Page</h1>
        <p>We are a group of three B.tech. 3rd year students pursuing our B.Tech. with Computer Science and Engineering
            brach from Motilal Nehru National Institute of Technology.</p>
        <p>This web application is a part of our B.Tech. 4 years program and we are doing this project under Dr. MM Gore
            sir.</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <!-- <img src="../public/images/shikha.jpg" alt="Shikha Singh" style="width:100%"> -->
                <div class="container">
                    <h2>Shikha Singh</h2>
                    <p class="title">Group Leader</p>
                    <p>She is frome varanasi, but she likes to say it banarash. She has intern in manGoldsach. She is
                        nice.</p>
                    <p>shikhasinghs216@gmail.com</p>
                    <a
                        href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCHrlGBGqQwbnQXmvktGZLRVHxTDQsjLfTNvccJrqhXhkhnDMdjhqcXnxJhcNXWDXKFnFzMg">
                        <p><button class="button">Contact</button></p>
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <!-- <img src="../public/images/surya.jpg" alt="Surya Pratap Singh" style="width:100%"> -->
                <div class="container">
                    <h2>Surya Pratap Singh</h2>
                    <p class="title">Member of Group</p>
                    <p>He is from Varanasi too, His english speaking is very bad, but he is trying. We will find out
                        what happens to him later.</p>
                    <p>surya.singh15071999@gmail.com</p>
                    <a
                        href="https://mail.google.com/mail/u/0/#inbox?compose=jrjtXFBHzxZpCJfjKVHGntjQMFJtKZTbwgLhSLJxvpvgJcSrWnBLnbfMlTTMVbSbWMShVBSD">
                        <p><button class="button">Contact</button></p>
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <!-- <img src="../public/images/shikha.jpg" alt="Shaunaq Paul" style="width:100%"> -->
                <div class="container">
                    <h2>Shaunaq Paul</h2>
                    <p class="title">Member of Groupr</p>
                    <p>He is from a great place too. His english speaking is very good. He is a cool guy and he wants to
                        be a game developer.</p>
                    <p>shaunaqpaulofficial@gmail.com</p>
                    <a
                        href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRwQZhMchBLcsTTHWnxSTmppDWnhwtFjpqhGmLcrkDwlhSrBNgdGthklwhJGzBDSmCSvFBSM">
                        <p><button class="button">Contact</button></p>
                    </a>

                </div>
            </div>
        </div>
    </div>

</body>

</html>
