<%-include("header")-%>
<div class="box" id="heading">
  <h1> You have <%=Title%></h1>
    <a href="/">
   <button type="submit" style="color:white" onclick="/">Home</button>
</a>

</div>
<%-include("footer")-%>
