<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Disease Teller</title>
  <link  rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="header">
    <div class="inner_header">
      <div class="logo_container">
        <h1><a href="/" style="text-decoration:none;color:white">Disease<span>Teller</span></a></h1>
      </div>
      <ul class="navigation">
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/disease/allResoruces">
          <li>Common Disease</li>
        </a>
        <a href="/aboutpage">
          <li>Contact</li>
        </a>
        <a href="/aboutpage">
          <li>About Us</li>
        </a>
      </ul>
    </div>
  </div>
