<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Disease Teller</title>
  <link  rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="logo_container">
        <h1><a href="/" style="text-decoration:none;color:white">Disease<span>Teller</span></a></h1>
      </div>
      <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/disease/allResoruces">Disease</a></li>
        <li><a href="/aboutpage" target="_blank">Contacts</a></li>
        <li><a href="/aboutpage" target="_blank">About Us</a></li>
      </ul>
    </div>
  </header>
