<!-- Date: 15th-18t March 2020
By : Surya Pratap Singh -->

<!-- Reusable header content -->


<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Disease Teller</title>
  <link  rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="logo_container">
        <a href="/" style="text-decoration:none;color:white"><h1>Disease<span>Teller</span></h1></a>
      </div>
      <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/disease/allResoruces">Disease</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/aboutpage">About Us</a></li>
      </ul>
    </div>
  </header>
