<%-include("header")-%>

<main>
  <div class="container">
    <div class="sub_main">
        <h1>Welcome to DiseaseTeller</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi nulla
            fuga quos error a distinctio quas quod eius veniam velit temporibus
            saepe rem cupiditate et praesentium, eligendi quam doloremque quo!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste nisi
            rerum natus inventore nemo sit aspernatur labore autem ex? Est
            accusamus velit sequi cumque facilis veniam sint enim saepe provident.
        </p>
        <a href="/DiseaseCatList">
            <button>KNOW Your Disease</button>
        </a>
    </div>
  </div>
</main>

<%-include("footer")-%>
