<%-include("header")-%>

<main>
  <div class="container">
    <div class="sub_main">
        <h1>Welcome to DiseaseTeller</h1>
        <p>
            You don't have to wait for your doctor's appointment anymore!
            Our app will diagnose your ailments within seconds and provide
            you with quick and easy home remedies for your relief. With 24×7 support,
            you will never have to wait for a diagnosis! Get started by clicking below
        </p>
        <a href="/DiseaseCatList">
            <button>Know Your Disease</button>
        </a>
    </div>
  </div>
</main>

<%-include("footer")-%>
