<%-include("header")-%>
<div class="box" id="heading">
  <h1>You Must </h1>
</div>
<div >
    <%for(var i=0;i<precautions.length;++i){%>
      <div >
        <p><%=precautions[i]%></p>
      </div>
    <%}%>
</div>
<%-include("footer")-%>
