body {
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 0;
}

html{
  background-color: #dadbe3;
}

/* for the navigation bar only */

header {
  width: 100%;
  background-color: #11153b;
}

a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.container_about{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.logo_container_about {
  /* background-color: red; */
  padding: 0px 0px;
  float: left;
  width: 30%;
}

.logo_container_about h1 {
  color: white;
  font-family: "Montserrate";
  font-size: 40px;
  font-weight: 200;
  /* padding: 0px; */
  padding: 15px 0px 0px 10px;
  margin: 0px;
}

.logo_container_about h1 span {
  font-weight: 800;
  padding: 0px;
}

.navigation_about {
  width: 70%;
  /* background-color: pink; */
  padding: 10px 0px 14px 0px;
  float: right;
  text-align: right;
  list-style: none;
}

.navigation_about li{
  display: inline;
  padding: 0px 15px;
}

@media (max-width:900px) {
  .navigation_about li{
    padding: 0px 5px;
  }
}


/* for rest of the page */

.column {
    float: left;
    width: 32%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #0a1896c9;
    background-color: #5e69b5;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgba(42, 74, 160, 0.644);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
