/* Date: 
By Surya Pratap Singh */

* {
  margin: 0;
  padding: 0;
}

/* for navigation menu */

header {
  width: 100%;
  background-color: #11153b;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.navigation a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}

ul {
  list-style: none;
}
.logo_container {
  /* background-color: red; */
  padding: 5px 0px;
  float: left;
  width: 30%;
}

.logo_container h1 {
  color: white;
  /* font-family: "Montserrate"; */
  font-size: 40px;
  font-weight: 200;
}

.logo_container h1 span {
  font-weight: 800;
}

.navigation {
  width: 70%;
  /* background-color: pink; */
  padding: 25px 0px 0px 0px;
  float: right;
  text-align: right;
  list-style: none;
}

.navigation li{
  display: inline;
  padding: 0px 15px;
}

/* for main page */

main {
  background-image: url(../images/about-bg.jpg);
  background-position: 0px 0px;
  background-size: auto;
  padding: 80px;
  background-repeat: no-repeat;

}

.sub_main {
  width: 72%;
  height: auto;
  padding-top: 50px;
  /* background-color: red; */
}

.sub_main h1 {
  font-weight: 800;
  font-size: 45px;
  text-align: center;
  padding-right: 120px;
}

.sub_main p {
  /* padding: 20px; */
  padding: 20px 100px 20px 20px;
  text-align: left;
  font-size: 18px;
  color: rgba(13, 15, 15, 0.747);
}

@media (max-width:900px) {
  .sub_main{
    width: 80%;
    /* background-color: green; */
  }

  .navigation li{
    padding: 0px 5px;
  }
}

@media (max-width:700px) {
  .sub_main{
    width: 100%;
    /* background-color: yellow; */
  }
}

.sub_main button {
  margin: 90px;
  height: 65px;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  /* background-color: rgba(11, 47, 146, 0.644); */
  background-color: #373f73;
  font-size: 18px;
  font-weight: 550;
  color: white;
}


/* by shikha */

html {
  background-color: #dadbe3;
}

h1 {
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #c0cfed;
  border-radius: 10px;
  /* box-shadow: 10px 10px 150px -10px rgba(0, 0, 0, 0.3); */
}

#heading {
  background-color: #dadbe3;
  text-align: center;
}

#answer {
  font-size: 45px;
  margin-top: 30px;
  text-align: center;
}

#r_disease {
  /* background-color: #c0cfed; */
  text-align: center;
  border-radius: 10px;
  font-size: 33px;
  background-color: #5e69b5;
  /* background-color: #0a1896c9; */
}

#abc {
  margin-top: 30px;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #F1F1F1;
}

.item a{
  padding-left: 40px;
  font-size: 20px;
  font-weight: 700;
}

.item :last-child {
  border-bottom: 10px;
}

input:checked+p {
  text-decoration-color: rgba(42, 74, 160, 0.644);
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  margin: 20px;
  height: 65px;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  background-color: #373f73;
  font-size: 18px;
  font-weight: 550;
  color: white;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 rgb(93, 99, 122);
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer   {
  background: #222;
  color: #777;
  padding: 40px;
  text-align: center;
}
